# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Large generated outputs
outputs/ranked_candidates.csv
outputs/top_100_candidates.csv
outputs/candidate_embeddings.npy
outputs/candidate_ids.npy
outputs/final_submission.xlsx
outputs/final_submission_final.xlsx

# Large raw dataset
data/raw/candidates.jsonl

# Temp Office lock files
~$*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/